#Relevant{
    margin-top: 128px;
}
#Relevant h2,#p{
    text-align: center;
    text-transform: uppercase;
}
#Relevant #p{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 16px;
    color: #161722;
}
#Relevant h2{
    font-size: 48px;
    font-weight: 700;
    line-height: 64px;
    margin-bottom: 64px;
    color: #161722;
}
/* ====== */
#Relevant .box1{
    background-color: #FFF5EB;
    width: 414px;
    height: 364px;
    box-shadow: 0px 16px 0 #FFD2A4;
    padding: 80px 80px 64px 80px;
    box-sizing: border-box;
}
#Relevant h3{
    font-size: 32px;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: -1px;
    margin-top: 24px;
    margin-bottom: 8px;
    color: #161722;
    text-transform: uppercase;
}
#Relevant .box1 p{
    width:251px;
    color: #161722;
}
/* ======box2 start */
#Relevant .box2{
    background-color: #FFF5EB;
    width: 414px;
    height: 364px;
    box-shadow: 0px 16px 0 #FFD2A4;
    padding: 80px 80px 64px 80px;
    box-sizing: border-box;
}
#Relevant .box2 p{
    width:251px;
    color: #161722;
}
/* ======box3 start======= */
#Relevant .box3{
    background-color: #FFF5EB;
    width: 414px;
    height: 364px;
    box-shadow: 0px 16px 0 #FFD2A4;
    padding: 80px 80px 64px 80px;
    box-sizing: border-box;
}
#Relevant .box3 p{
    width:251px;
    color: #161722;
}
.Relevant--box-container{
    display: flex;
    justify-content: space-between;
}